.app-header {
	background: $color-spotify-black;
	padding: $spacing-small;
	color: $color-spotify-white;

	& > .container {
		@media (max-width: 980px) {
			padding: 0;
		}
	}
}

.btn {
	border: 0;
	border-radius: 100px;
	padding: 1em 2em;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
}

.btn-primary {
	background: $color-spotify-green;
	color: $color-spotify-white;
	transition: background .3s ease-in-out;

	&:hover,
	&:focus {
		background: $color-spotify-lighter-green;
	}
}

.search-result.is-added {
	color: rgba($color-spotify-black, 0.8);
}

.party-view {
	display: flex;
}

.party-view input[type="radio"] {
	position: absolute;
	left: -9999px;
}

.access-popup {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background: $color-spotify-black;
	color: $color-spotify-white;
	font-weight: 300;
}

#allow-button {
	margin-right: 10px;
}

.access-popup_text {
	margin: 0;
	margin-bottom: 10px;
}

.is-invisible {
	display: none;
}
