form > *:not(:last-child) {
	margin-bottom: $spacing-small;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	font-size: inherit;
}

input,
textarea {
	padding: $spacing-small;
	border: 1px solid #eee;
}

input::placeholder {
	font-weight: 600;
}
