// Colors as defined in the Spotify branding guidelines
// https://developer.spotify.com/branding-guidelines/
$spotify-color-green: #1DB954;
$spotify-color-white: #fff;
$spotify-color-black: #191414;

