*,
*:before,
*:after {
  box-sizing: border-box; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px; }

body > *,
body > .container {
  margin-bottom: 20px; }

ul {
  list-style: none;
  padding: 0; }

.app-header {
  background: #191414;
  padding: 10px;
  color: #fff; }
  @media (max-width: 980px) {
    .app-header > .container {
      padding: 0; } }

.btn {
  border: 0;
  border-radius: 100px;
  padding: 1em 2em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600; }

.btn-primary {
  background: #1DB954;
  color: #fff;
  transition: background .3s ease-in-out; }
  .btn-primary:hover, .btn-primary:focus {
    background: #1ed760; }

.search-result.is-added {
  color: rgba(25, 20, 20, 0.8); }

.party-view {
  display: flex; }

.party-view input[type="radio"] {
  position: absolute;
  left: -9999px; }

.is-invisible {
  display: none; }

body {
  font-family: Helvetica, Arial, "sans-serif";
  color: #191414;
  font-size: 1rem;
  margin: 0; }

h1, h2, h3, h4 {
  font-weight: 900;
  margin: 0; }

button {
  font-size: 0.825rem; }

form > *:not(:last-child) {
  margin-bottom: 10px; }

label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: inherit; }

input,
textarea {
  padding: 10px;
  border: 1px solid #eee; }

input::placeholder {
  font-weight: 600; }
